[submodule "Database-SQL"]
	path = Database-SQL
	url = https://gitlab.com/TaQuangKhoi/Database-ChinChin.git
	branch = main
[submodule "Diagram"]
	path = Diagram
	url = https://github.com/Chinh-Chien-Software/Chinh-Chien-Database-Diagram.git
	branch = main
