[submodule "Database-SQL"]
	path = Database-SQL
	url = git@gitlab.com:TaQuangKhoi/Database-ChinChin.git
	branch = main
[submodule "Diagram"]
	path = Diagram
	url = git@gitlab.com:TaQuangKhoi/Diagram-ChinChin.git
	branch = main
