<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ChinChin.Properties.Settings.ChinhChienConnectionString"
            connectionString="Data Source = 20.211.185.211,1433; Initial Catalog = ChinhChien; User ID=ChinhChien ; Password = 123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>